# Default: infrastructure admins
*                   @alisw/infrastructure-admins

# Dataflow team
coconut*            @alisw/dataflow-experts
common-o2*          @alisw/dataflow-experts
configuration*      @alisw/dataflow-experts
control*            @alisw/dataflow-experts
datasampling*       @alisw/dataflow-experts
flpproto*           @alisw/dataflow-experts
infologger*         @alisw/dataflow-experts
monitoring*         @alisw/dataflow-experts
pda*                @alisw/dataflow-experts
ppconsul*           @alisw/dataflow-experts
qualitycontrol*     @alisw/dataflow-experts
rapidjson*          @alisw/dataflow-experts
readout*            @alisw/dataflow-experts
node*               @alisw/dataflow-experts
qcg*                @alisw/dataflow-experts

# PWGMM
aligenerators*      @alisw/pwgmm
ampt*               @alisw/pwgmm
crmc*               @alisw/pwgmm
dpmjet*             @alisw/pwgmm
epos*               @alisw/pwgmm
herwig*             @alisw/pwgmm
jewel*              @alisw/pwgmm
powheg*             @alisw/pwgmm
pythia*             @alisw/pwgmm
sherpa*             @alisw/pwgmm
thepeg*             @alisw/pwgmm
agile*              @alisw/pwgmm
sacrifice*          @alisw/pwgmm
aligenmc*           @alisw/pwgmm
fonll*              @alisw/pwgmm
ttherminator*       @alisw/pwgmm
hepmc*              @alisw/pwgmm
lhapdf*             @alisw/pwgmm
rivet*              @alisw/pwgmm
yoda*               @alisw/pwgmm

# Simulation
geant*              @alisw/simulation-experts
vmc*                @alisw/simulation-experts
vgm*                @alisw/simulation-experts
vecgeom*            @alisw/simulation-experts

# Muon Run3 Reconstruction Task Force
alo*                @alisw/mrrtf
defaults-alo*       @alisw/mrrtf

# JAliEn-related stuff
jdk*                @alisw/alien-experts
jalien*             @alisw/alien-experts
defaults-jalien*    @alisw/alien-experts
