# Default: infrastructure admins
*                   @alisw/infrastructure-admins

# Dataflow team
alf*                @alisw/dataflow-experts
lla*                @alisw/dataflow-experts
coconut*            @alisw/dataflow-experts
common-o2*          @alisw/dataflow-experts
configuration*      @alisw/dataflow-experts
control*            @alisw/dataflow-experts
flpproto*           @alisw/dataflow-experts
infologger*         @alisw/dataflow-experts
monitoring*         @alisw/dataflow-experts
pda*                @alisw/dataflow-experts
ppconsul*           @alisw/dataflow-experts
qualitycontrol*     @alisw/dataflow-experts
readout*            @alisw/dataflow-experts
readoutcard*        @alisw/dataflow-experts
librdkafka*         @alisw/dataflow-experts
libinfologger*      @alisw/dataflow-experts
dim*                @alisw/dataflow-experts
defaults-o2-dataflow* @alisw/dataflow-experts
tpcfecutils*        @alisw/dataflow-experts
golang*             @alisw/dataflow-experts
bookkeeping-api*    @alisw/dataflow-experts

# PWGMM
aligenerators*      @alisw/pagmc
ampt*               @alisw/pagmc
crmc*               @alisw/pagmc
dpmjet*             @alisw/pagmc
epos*               @alisw/pagmc
herwig*             @alisw/pagmc
jewel*              @alisw/pagmc
powheg*             @alisw/pagmc
pythia*             @alisw/pagmc
sherpa*             @alisw/pagmc
thepeg*             @alisw/pagmc
agile*              @alisw/pagmc
sacrifice*          @alisw/pagmc
aligenmc*           @alisw/pagmc
fonll*              @alisw/pagmc
ttherminator*       @alisw/pagmc
hepmc*              @alisw/pagmc
lhapdf*             @alisw/pagmc
rivet*              @alisw/pagmc
yoda*               @alisw/pagmc
delphes             @alisw/pagmc
graniitti           @alisw/pagmc

# Simulation
geant*              @alisw/simulation-experts
vmc*                @alisw/simulation-experts
vgm*                @alisw/simulation-experts
vecgeom*            @alisw/simulation-experts
mcsteplogger*       @alisw/simulation-experts
fluka*              @alisw/simulation-experts
evtgen*             @alisw/simulation-experts
upcgen*             @alisw/pagmc

# General PDP stuff
o2*                 @alisw/pdp-experts
aliroot*            @alisw/pdp-experts
aliphysics*         @alisw/pdp-experts
acts*               @alisw/pdp-experts

# PWG Related
fastjet*            @alisw/pwgje

# Muon Run3 Reconstruction Task Force
alo*                @alisw/mrrtf
defaults-alo*       @alisw/mrrtf

# JAliEn-related stuff
jdk*                @alisw/alien-experts
jalien*             @alisw/alien-experts
defaults-jalien*    @alisw/alien-experts
xjalienfs*          @alisw/alien-experts

# EPN
datadistribution*   @alisw/epn-experts
dds*                @alisw/epn-experts
odc*                @alisw/epn-experts

# ML
mlmodels*           @fcatalan92
