# Everything has to be approved by ALICE Offline admins
* @alisw/alice-offline-admins

# DAQ stuff
readout* @alisw/daq-experts
configuration* @alisw/daq-experts
datasampling* @alisw/daq-experts
daq* @alisw/daq-experts
monitoring* @alisw/daq-experts

# PWGMM
agile* @alisw/pwgmm
aligenerators* @alisw/pwgmm
crmc* @alisw/pwgmm
epos* @alisw/pwgmm
hepmc* @alisw/pwgmm
jewel* @alisw/pwgmm
lhapdf* @alisw/pwgmm
powheg* @alisw/pwgmm
pythia* @alisw/pwgmm
rivet* @alisw/pwgmm
sherpa* @alisw/pwgmm
thepeg* @alisw/pwgmm
yoda* @alisw/pwgmm

# Simulation
geant* @alisw/simulation-experts
vmc* @alisw/simulation-experts
vgm* @alisw/simulation-experts
vecgeom* @alisw/simulation-experts
